<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Disable response buffering so scan events stream through immediately -->
        <urlCompression doDynamicCompression="false" doStaticCompression="false" />

        <rewrite>
            <rules>
                <!-- Reverse-proxy all requests (HTTP + WebSocket upgrades) to Node.js.
                     Port must match the PORT your Node.js/PM2 process listens on (6000 in production). -->
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:6000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
